
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.container {
  display: flex;
}

.colunaesquerda {
    padding: 10px;
    height: 300px;
   flex: auto;
}

.colunadireita {
    padding: 10px;
    height: 300px;
    flex:auto;
 }

.colunameio {
    padding: 10px;
    height: 300px;
  flex: auto;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
